<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduationProject.hngxy.dao.DepartmentPositionMapper">
  
  <resultMap id="BaseResultMap" type="graduationProject.hngxy.model.DepartmentPosition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="position_id" jdbcType="INTEGER" property="positionId" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department_position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="graduationProject.hngxy.model.DepartmentPosition">
    insert into department_position (department_id, position_id)
    values ( #{departmentId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="graduationProject.hngxy.model.DepartmentPosition">
    update department_position
    set department_id = #{departmentId,jdbcType=INTEGER},
      position_id = #{positionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, department_id, position_id
    from department_position
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select id, department_id, position_id
    from department_position
  </select>
  
  <delete id="deleteByDepartmentId" parameterType="Integer">
	delete from department_position
	where department_id=#{id}
  </delete>
  
</mapper>