<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduationProject.hngxy.dao.TaskPlanMapper">
  <resultMap id="BaseResultMap" type="graduationProject.hngxy.model.TaskPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="receive_id" jdbcType="INTEGER" property="receiveId" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
    <result column="release_id" jdbcType="INTEGER" property="releaseId" />
    <result column="release_name" jdbcType="VARCHAR" property="releaseName" />
    <result column="task_plan_detail" jdbcType="VARCHAR" property="taskPlanDetail" />
    <result column="start_date" property="startDate" />
    <result column="end_date" property="endDate" />
    <result column="plan_state" jdbcType="VARCHAR" property="planState" />
    <result column="mome" jdbcType="VARCHAR" property="mome" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="graduationProject.hngxy.model.TaskPlan" keyProperty="id" useGeneratedKeys="true">
    insert into task_plan ( task_id, receive_id, 
      receive_name, release_id, release_name, 
      task_plan_detail, start_date, end_date, 
      plan_state, mome)
    values ( #{taskId,jdbcType=INTEGER}, #{receiveId,jdbcType=INTEGER}, 
      #{receiveName,jdbcType=VARCHAR}, #{releaseId,jdbcType=INTEGER}, #{releaseName,jdbcType=VARCHAR}, 
      #{taskPlanDetail,jdbcType=VARCHAR}, #{startDate}, #{endDate}, 
      #{planState,jdbcType=VARCHAR}, #{mome,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="graduationProject.hngxy.model.TaskPlan">
    update task_plan
    set 
      task_plan_detail = #{taskPlanDetail,jdbcType=VARCHAR},
      start_date = #{startDate},
      end_date = #{endDate},
      plan_state = #{planState,jdbcType=VARCHAR},
      mome = #{mome,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, receive_id, receive_name, release_id, release_name, task_plan_detail, 
    start_date, end_date, plan_state, mome
    from task_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select id, task_id, receive_id, receive_name, release_id, release_name, task_plan_detail, 
    start_date, end_date, plan_state, mome
    from task_plan
  </select>
  
  <select id="selectByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, task_id, receive_id, receive_name, release_id, release_name, task_plan_detail, 
    start_date, end_date, plan_state, mome
    from task_plan
    where task_id=#{taskId}
  </select>
  
  <select id="selectByTaskIdAndReceiveId" parameterType="Map" resultMap="BaseResultMap">
    select id, task_id, receive_id, receive_name, release_id, release_name, task_plan_detail, 
    start_date, end_date, plan_state, mome
    from task_plan
    where task_id=#{taskId} and receive_id=#{receiveId}
  </select>
  
  <update id="updatePlanStateById" parameterType="Map">
    update task_plan
    set plan_state = #{status}
    where id = #{planId}
  </update>
  
</mapper>